@model StudentAttendance.Models.AttendanceViewModel

@{ 
    ViewBag.Title = "Error Page";
}
<head>
    <title>@ViewBag.Title</title>
</head>
<h2>Attendance Sign In</h2>
<p>Professor's Key: @ViewBag.Key</p>
<p style="color:red">Error: @TempData["Message"]</p>
@using (Html.BeginForm("Updated", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(x => x.studentID, new { placeholder = "Student ID" })
    <br />
    <br />
    @Html.TextBoxFor(y => y.userKey, new { placeholder = "Login Key" })
    <br />
    <br />
    <input type="submit" value="Sign In" />
}
